/* CSS Style Sheet */

h1 {
    color: red;
}
h2 {
    color: #ff0000;
}
h3 {
    color: rgb(255,0,0);
}
.newFont {
    font-size: 24px;
    font-family: tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    color: darkolivegreen;
    text-transform: uppercase;
    letter-spacing: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0,0,0);
}

.portrait-image {
    
    background-image: image("pizza.jpeg");
    width: 150px;
    max-width: 100%;
    border-radius: 50%; /* Our image is now circular */
    filter: grayscale(20%) brightness(100%) contrast(100%) opacity();
    outline-style: solid;   /* Outline Border */
    outline-color: rgb(0,0,0);
    outline-width: 2px;
    transition: all 0.3s ease; /* all means do all property changes in hover */
}

.portrait-image:hover {
    filter: grayscale(0%) brightness(120%) contrast(120%);
    outline-color: rgb(255,0,0);
    background-image: image("garlic-bread.jpg");
    
}